.wrapper {
    font-family: var(--font-family);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    padding: 8px 8px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;

    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 6px;
}

.icon {
    display: inline-flex;
    width: 24px;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
}

// Button types
.rounded {
    border-radius: 9999px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: var(--white);
    }
}

.primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), var(--primary);
    }
}

.outline {
    color: var(--primary);
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    border: 1px solid #1618231f;
    border-radius: 2px;
    padding: 8px 15px;
    font-weight: 600;

    &:hover {
        background-color: #16182308;
    }
}

// Button size
.small {
    padding: 4px 16px;
    min-width: 88px;
}

.large {
    padding: 14px 16px;
    min-width: 140px;
}

.extraLarge {
    font-family: 'TikTokDisplay', sans-serif;
    font-size: 1.8rem;
    padding: 13px 8px;
    width: 100%;
}

// type and size button download
.download {
    background: var(--white);
    border: 1px solid #1618231f;
    font-size: 1.4rem;
    color: #161823bf;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
    line-height: 30px;
    padding: 0px 8px;
    border-radius: 52px;

    &:active {
        border-color: #16182333;
        background-color: #1618230f;
    }
}
