.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgba(0 0 0 / 12%);
    background-color: var(--white);
}

.logo {
    display: flex;
    align-items: center;
}

.inner {
    height: 100%;
    padding: 0 var(--default-layout-horizontal-spacer) 0 16px;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// custom button
.custom-login {
    color: red;
}

// Action
.actions {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    padding: 8px;
    background-color: transparent;
    cursor: pointer;
}

.action-btn {
    display: flex;
    align-items: center;
    background-color: transparent;
    margin-left: 16px;
    font-size: 2rem;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 24px;
}
